{% extends "base.html" %}
{% block title %}Technical Support{% endblock %}

{% block content %}
<br>
<h1 align="center" class="zoomtext">Report Your Problem</h1>
<p align="center" class="zoomtext">We'll contact you as soon as possible.</p>
<br>
<form method="POST">
    <h5 class="zoomtext">Problem Type</h5>
    <select class="form-control zoomtext" id="title" name="title">
        <option>No Internet Connection Issue</option>
        <option>Slow Internet Connection Issue</option>
        <option>Billing Related Issue</option>
        <option>Internet Television Issue</option>
        <option>Other Queries</option>
    </select>
    <br>
    <h5 class="zoomtext">Description</h5>
    <div class="form-outline mb-4 zoomtext">
        <textarea name="desc" id="desc" class="form-control" id="form4Example3" rows="4"></textarea>
        <label class="form-label" for="form4Example3">Message</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}