{% extends "base.html" %}
{% block title %}Tickets{% endblock %}
{% block content %}
<br>
<h1 align="center" class="zoomtext">Your Tickets</h1>
<br />
{% for ticket in user.tickets|reverse %}
<div class="card zoomtext mb-3">
    <div class="card-header text-muted">
        @ {{ ticket.date }}
    </div>
    <div class="card-body">
        <h5 class="card-title text-dark" align="center">{{ ticket.title }}</h5>
        <p class="card-text text-black-85" align="center">{{ ticket.desc }}</p>
        <p class="card-text text-body"> Ticket Status: {{ ticket.status }}</p>
    </div>
</div>
<br />
{% endfor %}

<a href="/support"><button type="button" class="btn btn-primary mb-6 zoomtext">Report Problem</button></a>
{% endblock %}